<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting page</title>
    <link rel="stylesheet" href='{% static "css/voting.css" %}'>
    
    {% if flag %}
</head>
<body>
    <div class="heading"><button class="logout">Logout</button></div>
    
    <div class="container" id="container">
        <div class="voter_name">
            <h1>Voter's Name</h1>
        </div>
        <div class="candidate">
            {% for i in candidate %}
            <div class="items">
                <img src="/static/img/{{i.party_name|lower}}.png" alt="{{i.party_name}}" width="80px">
                <h2>{{i.name}}</h2>
                <h3>{{i.party_name}}</h3>
                <h3>{{i.district}}</h3>
                <button class="vote">VOTE</button>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        <p>E-Voting with Aadhar Verification &copy 2021</p>
    </footer>
{% else %}
<center><h1>You are not registered user</h1></center>
{% endif %}
</body>
</html>